In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [3]:
data=dataset.copy()

In [4]:
data

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [5]:
data.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [6]:
data=data.drop(['ZIP Code','ID'],axis=1)

In [7]:
data

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,1,1.9,3,0,0,0,0,1,0
4996,30,4,15,4,0.4,1,85,0,0,0,1,0
4997,63,39,24,2,0.3,3,0,0,0,0,0,0
4998,65,40,49,3,0.5,2,0,0,0,0,1,0
4999,28,4,83,3,0.8,1,0,0,0,0,1,1

In [8]:
data.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Experience          5000 non-null   int64
 2   Income              5000 non-null   int64
 3   Family              5000 non-null   int64
 4   CCAvg               5000 non-null   float64
 5   Education           5000 non-null   int64
 6   Mortgage            5000 non-null   int64
 7   Personal Loan       5000 non-null   int64
 8   Securities Account  5000 non-null   int64
 9   CD Account          5000 non-null   int64
 10  Online              5000 non-null   int64
 11  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 468.9 KB

In [10]:
data.isna()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
data.isna().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [16]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
dt_clf=DecisionTreeClassifier(criterion='gini')

In [18]:
features=data[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account',
       'Online', 'CreditCard']]

target=data[['Personal Loan']]

In [20]:
dt_clf.fit(X=features,y=target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [21]:
print("Important Feature : ",dt_clf.feature_importances_)

Important Feature :  [0.01910577 0.01851861 0.31277988 0.15532033 0.05948851 0.39723387
 0.00773098 0.         0.01850804 0.00794221 0.00337181]

In [23]:
j=0
for i in dt_clf.feature_importances_:
    j=j+i 
print(j)

0.9999999999999999

In [24]:
for i in range(0,len(features.columns)):
    print(features.columns[i],"       ",dt_clf.feature_importances_[i])

Age         0.019105768575279115
Experience         0.018518611211219234
Income         0.3127798771987831
Family         0.1553203253073101
CCAvg         0.05948851376756263
Education         0.3972338658843734
Mortgage         0.007730982489263227
Securities Account         0.0
CD Account         0.01850803835284165
Online         0.00794220849725569
CreditCard         0.003371808716111814

In [25]:
# higher feature_importances_ value so that variable  is more important w.r.to DV

for feature,imp in zip(features.columns,dt_clf.feature_importances_):
    print(feature ,"        " , imp)

Age          0.019105768575279115
Experience          0.018518611211219234
Income          0.3127798771987831
Family          0.1553203253073101
CCAvg          0.05948851376756263
Education          0.3972338658843734
Mortgage          0.007730982489263227
Securities Account          0.0
CD Account          0.01850803835284165
Online          0.00794220849725569
CreditCard          0.003371808716111814

In [26]:
features.head(10)

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,1,0,0,0
1,45,19,34,3,1.5,1,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,1
5,37,13,29,4,0.4,2,155,0,0,1,0
6,53,27,72,2,1.5,2,0,0,0,1,0
7,50,24,22,1,0.3,3,0,0,0,0,1
8,35,10,81,3,0.6,2,104,0,0,1,0
9,34,9,180,1,8.9,3,0,0,0,0,0

In [28]:
target

      Personal Loan
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
4995              0
4996              0
4997              0
4998              0
4999              0

[5000 rows x 1 columns]

In [29]:
dt_clf.predict([[34,9,180,1,8.9,3,0,0,0,0,0]])

array([1], dtype=int64)

# Train Test Split

In [30]:
X=data[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account',
       'Online', 'CreditCard']]

Y=data[['Personal Loan']]

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=100)

In [32]:
print(X_train.shape,y_train.shape)

(3500, 11) (3500, 1)

In [33]:
print(X_test.shape,y_test.shape)

(1500, 11) (1500, 1)

   # Model

In [37]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.tree import DecisionTreeClassifier,export_graphviz,plot_tree

In [38]:
dt_model=DecisionTreeClassifier(criterion='gini')

In [39]:
dt_model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [43]:
with open("Loantree.dot","w") as f:
    f=export_graphviz(dt_model,feature_names=X.columns,out_file=f)

In [44]:
y_predict=dt_model.predict(X_test)

In [45]:
accuracy_score(y_predict,y_test)

0.982

In [46]:
confusion_matrix(y_predict,y_test)

array([[1331,   16],
       [  11,  142]], dtype=int64)