In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [3]:
data=dataset.copy()

In [4]:
data

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [5]:
data.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [6]:
data=data.drop(['ZIP Code','ID'],axis=1)

In [7]:
data

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,1,1.9,3,0,0,0,0,1,0
4996,30,4,15,4,0.4,1,85,0,0,0,1,0
4997,63,39,24,2,0.3,3,0,0,0,0,0,0
4998,65,40,49,3,0.5,2,0,0,0,0,1,0
4999,28,4,83,3,0.8,1,0,0,0,0,1,1

In [8]:
data.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Experience          5000 non-null   int64
 2   Income              5000 non-null   int64
 3   Family              5000 non-null   int64
 4   CCAvg               5000 non-null   float64
 5   Education           5000 non-null   int64
 6   Mortgage            5000 non-null   int64
 7   Personal Loan       5000 non-null   int64
 8   Securities Account  5000 non-null   int64
 9   CD Account          5000 non-null   int64
 10  Online              5000 non-null   int64
 11  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 468.9 KB

In [10]:
data.isna()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
data.isna().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
rf_clf=RandomForestClassifier(n_estimators=1000,oob_score=True)

In [14]:
features=data[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account',
       'Online', 'CreditCard']]

target=data[['Personal Loan']]

In [15]:
rf_clf.fit(X=features,y=target)

C:\Users\RajPanjwani\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [16]:
print("Important Feature : ",rf_clf.feature_importances_)

Important Feature :  [0.03545075 0.03480567 0.33983525 0.11924135 0.16365246 0.20701039
 0.0308704  0.00409866 0.05059037 0.00670838 0.00773632]

In [17]:
# 99% the model is accurate
print("OBB SCORE : ",rf_clf.oob_score_)

OBB SCORE :  0.9884

In [18]:
j=0
for i in rf_clf.feature_importances_:
    j=j+i 
print(j)

1.0

In [19]:
for i in range(0,len(features.columns)):
    print(features.columns[i],"       ",rf_clf.feature_importances_[i])

Age         0.035450751744224455
Experience         0.0348056702044858
Income         0.339835247879073
Family         0.11924135073803509
CCAvg         0.16365246048224238
Education         0.207010386866634
Mortgage         0.030870397960708378
Securities Account         0.00409866175564619
CD Account         0.050590370144780024
Online         0.006708380867739933
CreditCard         0.007736321356430738

In [20]:
# higher feature_importances_ value so that variable  is more important w.r.to DV

for feature,imp in zip(features.columns,rf_clf.feature_importances_):
    print(feature ,"        " , imp)

Age          0.035450751744224455
Experience          0.0348056702044858
Income          0.339835247879073
Family          0.11924135073803509
CCAvg          0.16365246048224238
Education          0.207010386866634
Mortgage          0.030870397960708378
Securities Account          0.00409866175564619
CD Account          0.050590370144780024
Online          0.006708380867739933
CreditCard          0.007736321356430738

In [21]:
features.head(10)

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,1,0,0,0
1,45,19,34,3,1.5,1,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,1
5,37,13,29,4,0.4,2,155,0,0,1,0
6,53,27,72,2,1.5,2,0,0,0,1,0
7,50,24,22,1,0.3,3,0,0,0,0,1
8,35,10,81,3,0.6,2,104,0,0,1,0
9,34,9,180,1,8.9,3,0,0,0,0,0

In [22]:
target[target['Personal Loan']==1]

      Personal Loan
9                 1
16                1
18                1
29                1
38                1
...             ...
4883              1
4927              1
4941              1
4962              1
4980              1

[480 rows x 1 columns]

In [23]:
rf_clf.predict([[34,9,180,1,8.9,3,0,0,0,0,0]])

array([1], dtype=int64)

# Train Test Split

In [27]:
X=data[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account',
       'Online', 'CreditCard']]

Y=data[['Personal Loan']]

In [28]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=100)

In [30]:
print(X_train.shape,y_train.shape)

(3500, 11) (3500, 1)

In [31]:
print(X_test.shape,y_test.shape)

(1500, 11) (1500, 1)

   # Model

In [24]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [37]:
rf_model=RandomForestClassifier(n_estimators=1000,oob_score=True)

In [38]:
rf_model.fit(X_train,y_train)

C:\Users\RajPanjwani\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [39]:
y_predict=rf_model.predict(X_test)

In [40]:
accuracy_score(y_predict,y_test)

0.984

In [41]:
confusion_matrix(y_predict,y_test)

array([[1338,   20],
       [   4,  138]], dtype=int64)